body{
    background-color: white;
}

img{
    height: 250px;
    width:  350px;
}

#top-heading{
    background-color: rgb(255, 165, 0);
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
}

.recipe-name{
    background-color: orange;
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family:"Papyrus", fantasy;
    font-weight: bolds;
}