body{
    background-color: white;
}

img{
    height: 250px;
    width:  350px;
}

h1{
    background-color: rgb(255, 165, 0);
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;

}